# Node modules
/node_modules/

# Environment variables
.env

# Log files
*.log

# Database files (for local MongoDB instance)
data/

# IDE and editor settings
.vscode/
.idea/

# Build and temp files
/dist/
/build/
/*.tmp

# MongoDB backups
*.gz
dump/
